*{
    font-family: Consolas,monospace,monacos;
    background-color: rgb(243, 241, 241);
}

.datos{
    background-color: rgb(162, 202, 189);
    width: 30%; 
    text-align: center;
    border: solid white;
}

h1{
    border-bottom: solid 3px;
    border-color: white;
}

h2{
    border-top: solid 3px;
    border-color: white;
}

span{
    font-weight: bold;
}

